@font-face {
    font-family: "Schoolbell"; 
    src: url(forras/Schoolbell-Regular.ttf) format('truetype');
}

*{
    font-family: "Schoolbell";
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url(forras/background.png);
    background-repeat: 0;
    min-height: 100vh;
    min-width: 100vw;
    padding-inline: 32px;
    padding-block: 64px;
    

}

main{
    max-width: 90vw;
    min-height: calc(100vh - 128px);
    
    background-color: white;
    border-radius: 12px;
    border: 3px solid black ;
    margin: auto;
}

.section{
    padding: 32px;
}

.nav{
    color: #8d5b1a;
    background-color: #feda70;
    font-size: 20px;
    padding: 0.5rem;
    border-radius: 12px;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    

}

.header h1{
    font-size: 28px;
    font-weight: 400;
}

.article h2{
    font-size: 56px;
    font-weight: 400;
}

b{
    color: #8d5b1a;
}

.section p{
    font-size: 24px;
    max-width: 60ch;
    font-weight: 400;
}

article{
    height: fit-content;
    max-width: 1080px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr, 1fr;
    grid-template-rows: auto;
    grid-area: auto;
}

.article img{
    width: 550px;
    height: 550px;
    object-fit: cover;
}

aside{
    text-align: center;
}

.grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

table{
    border: 1px solid black;
    border-collapse: collapse;
    width: 100%;
    
}

td, th{
    border: 1px solid black;
    padding: 12px;
}

th{
    text-align: center;
    font-style: normal;
}

tr:nth-child(odd){
    background-color: #8d5b1a;
    color: #feda70;
}
tr:nth-child(even){
    background-color: #feda70;
}

footer{
    display: block;
    background-color: #8d5b1a;
    border: 1px solid black;
    border-radius: 12px;
    max-width: 1080px;
    padding: 12px;
    text-align: center;
    margin: auto;
    width: 100%;
}