@font-face {
    font-family: "Schoolbell"; 
    src: url(forras/Schoolbell-Regular.ttf) format('truetype');
}

*{
    font-family: "Schoolbell";
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url(forras/background.png);
    background-repeat: 0;
    min-height: 100vh;
    min-width: 100vw;
    padding-inline: 32px;
    padding-block: 64px;

}

main{
    max-width: 90vw;
    min-height: calc(100vh - 128px);
    align-content: center;
    background-color: white;
    border-radius: 12px;
    border: 3px solid black ;
    margin: auto;
}

.section{
    padding: 32px;
}

.nav{
    color: #8d5b1a;
    background-color: #feda70;
    font-size: 20px;
    padding: 0.5rem;
    border-radius: 12px;

}

.header h1{
    font-size: 28px;
    font-weight: 400;
}

.header h2{
    font-size: 56px;
    font-weight: 400;
}

.section p{
    font-size: 24px;
    max-width: 60ch;
    font-weight: 400;
}

article{
    height: fit-content;
    max-width: 1080px;
    margin: auto;
    display: grid;

}

article img{
    width: 100%;
    height: 550px;
    object-fit: cover;
}

